cloudflare_api_token            = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
cloudflare_account_id           = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
cloudflare_zone_id              = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
domain                          = "homelab.com"

postgres_host                   = "1.1.1.1"
postgres_username               = "username"
postgres_password               = "password"

smtp_username                   = "test@test.com"
smtp_password                   = "password"
smtp_from_email                 = "test@test.com"

metallb_version                 = "0.16.1"
envoy_gateway_version           = "1.8.1"
cloudflared_version             = "2026.9.3"
longhorn_version                = "1.13.0"
vaultwarden_version             = "1.37.4-alpine"
miniflux_version                = "2.3.3"

vaultwarden_enable_admin_panel  = false
